{
    "extends": ["airbnb", "prettier", "prettier/react"],
    "rules": {
      "import/prefer-default-export": "off",
      "import/no-extraneous-dependencies": "off",
      "global-require": "off",
      "consistent-return": "off",
      "react/destructuring-assignment": "off",
      "no-use-before-define": ["error", { "functions": true, "classes": true, "variables": false }],
      "react/prop-types": ["error", { "ignore": ["navigation", "children"] }],
      "react/jsx-filename-extension": [
        1,
        {
          "extensions": [".js", ".jsx"]
        }
      ],
      "prettier/prettier": [
        "error",
        {
          "printWidth": 100
        }
      ]
    },
    "plugins": ["prettier"],
    "parser": "babel-eslint"
  }
  