name: Publish to Npm

on:
  workflow_run:
    workflows: ["ESLint", "Typecheck"]
    types:
      - completed
  push:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: "yarn"

      - name: Install packages
        run: yarn install

      - name: Build code
        run: yarn build

      - name: Publish to npm
        run: yarn pubslish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
