name: Run Test

on:
  push:
  pull_request:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - run: npm install
      - run: npm run lint
      - run: npm run typecheck
      - run: npm run test
      - run: npm run build
