name: Test

on: push

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Node
        uses: actions/setup-node@v2
        with:
          node-version: 14
          cache: "yarn"

      - name: Install packages
        run: yarn install

      - name: Test
        run: yarn test
